{% extends 'hlavna.html' %}
{% set active_page = "loop" %}

{% block title %} Vytvorit Loopback {% endblock %}
{% block content %}

<form action="/loop" method="post" class="row g-3">   
    <div class="col-2">
        <div class="form-floating">
            <input type="text" id="int" name="int" class="form-control" placeholder="Nazov rozhrania" required>
            <label for="int">Nazov rozhrania</label>
        </div>
    </div>    
    <div class="col-12">
        <input type="submit" value="Vytvor rozhranie" class="btn btn-primary">   
    </div>
</form> 
{% endblock %}