{% extends 'hlavna.html' %}
{% set active_page = "ip" %}

{% block title %} Pridanie IP {% endblock %}
{% block content %}    
    <form action="/ip" method="post" class="row g-3">
        <div class="col-2">
            <div class="form-floating">
                <input type="text" id="ip" name="ip" class="form-control" placeholder="IP adresa" required>
                <label for="ip">IP adresa</label>
            </div>            
        </div>
        <div class="col-2">
            <div class="form-floating">
                <input type="text" id="int" name="int" class="form-control" placeholder="Nazov rozhrania" required>
                <label for="int">Nazov rozhrania</label>
            </div>  
        </div>  
        <div class="col-12">
            <input type="submit" value="Pridaj IP" class="btn btn-primary">   
        </div>
    </form> 
{% endblock %}