<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - MikrotikGUI</title>
    <style>
        img.logo{
            height: 2em;
            margin-left: 30px;
        }
        div.content {
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 30px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://i.mt.lv/img/mt/v2/logo.svg" alt="Mikrotik" height="20">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link {{ 'active' if active_page == 'index' else '' }}" href="/">Zoznam rozhrani a IP</a>
                <a class="nav-link {{ 'active' if active_page == 'ip' else '' }}" href="/ip">Pridanie IP</a>
                <a class="nav-link {{ 'active' if active_page == 'loop' else '' }}" href="/loop">Vytvorenie Loopback-u</a>
              </div>
            </div>
        </div>      
    </nav>
    
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>