{% extends 'hlavna.html' %}
{% set active_page = "index" %}
{% block title %} Zoznam rozhrani {% endblock %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Nazov</td>
                <td>IP</td>
            </tr>
        </thead>
        <tbody>
        {% for polozka in data %}
            <tr>
                <td>{{polozka['name']}}</td>
                <td>{{polozka['address']}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}